.logo{
    padding: 10px;
  width: 40%;
  height: 50%;
  left: 0%;
}
.bi{
    margin-right: 10px;
}
.m-3{
  border-right: 1px solid black;
}
.side {
  position: fixed;
  height: 100vh;
  background-color: #fff;
}
.profile {
  margin-left: 250px;
  overflow-y: auto;
}


